<div class="jumbotron">
     <h1 class="title">WELLCOME TO THE SPACE</h1>
     <p class="slogan">What Do You Want To Do
     <br>
      Find The Meaning Of Your Life
     <br>
      In Here
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">Join Us</a></p>
   </div>
   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://www.easyicon.net/api/resizeApi.php?id=1125475&size=128" alt="search" class = "img-thumbnail">
             <div class="caption">
               <h3>Shenzhen.China</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://www.easyicon.net/api/resizeApi.php?id=1176268&size=128" alt="bid" class = "img-thumbnail">
             <div class="caption">
               <h3>learntofreedom@gmail.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://www.easyicon.net/api/resizeApi.php?id=1176239&size=128" alt="heart" class = "img-thumbnail">
             <div class="caption">
               <h3>0755-89891000</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
